h1 {
	text-align: center;
}

form {
	margin: 0 auto;
	width: 50%;
}

label {
	display: block;
}

input[type="text"] {
	width: 100%;
	background-color: lightgray;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
